.periodic-table td,
.periodic-table th,
table.periodic-table {
  border: 1px solid #000
}

.element,
.periodic-table td[data-periodic-element] {
  cursor: pointer
}

* {
  box-sizing: border-box
}

body {
  font-family: Roboto;
  position: relative;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element {
  height: 70px;
  padding-left: 5px;
  padding-right: 10px
}

.element__specifications {
  display: flex;
  justify-content: space-between
}

.element__atomic-number {
  padding-top: 5px;
  font-weight: 700
}

.element__title {
  font-size: 30px;
  font-weight: 700;
  line-height: .7em;
  margin-top: 7px
}

.electron-levels__level,
.popup__window {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto
}

.element__main-group {
  flex-direction: row
}

.element__secondary-group {
  flex-direction: row-reverse
}

.element__full-name {
  font-weight: 500
}

.element__atomic-mass {
  font-size: 12px
}

table.periodic-table {
  border-collapse: collapse
}

.periodic-table td {
  min-width: 120px;
  padding-left: 10px;
  padding-right: 10px
}

.period-table__row-title {
  text-align: center
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0
}

body.popup-opened {
  overflow: hidden
}

.popup__window-container {
  width: 100%;
  height: 100%;
  position: relative
}

.popup__window {
  width: 700px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  padding: 10px
}

.electron-levels__container {
  position: relative;
  height: 260px;
  width: 260px
}

.electron-levels__level {
  position: absolute;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px
}

.electron-levels__level_1 {
  width: 25px;
  height: 25px;
  background: #f78fb3;
  z-index: 7
}

.electron-levels__level_2 {
  width: 60px;
  height: 60px;
  background: #ea8685;
  z-index: 6
}

.electron-levels__level_3 {
  width: 100px;
  height: 100px;
  background: #e66767;
  z-index: 5
}

.electron-levels__level_4 {
  width: 140px;
  height: 140px;
  background: #f3a683;
  z-index: 4
}

.electron-levels__level_5 {
  width: 180px;
  height: 180px;
  background: #f19066;
  z-index: 3
}

.electron-levels__level_6 {
  width: 220px;
  height: 220px;
  background: #778beb;
  z-index: 2
}

.electron-levels__level_7 {
  width: 260px;
  height: 260px;
  background: #546de5;
  z-index: 1
}

.popup__window .left {
  float: left;
  width: 50%
}

.popup__window .right {
  float: right;
  width: 50%
}

.element_s-type {
  background: #fd79a8
}

.element_p-type {
  background: #fbc531
}

.element_d-type {
  background: #00a8ff
}

.element_f-type {
  background: #4cd137
}

.periodic-table__group-title {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between
}

.periodic-table>tbody>tr>td:nth-child(1),
.periodic-table>tbody>tr>td:nth-child(2),
.periodic-table>thead>tr>th:nth-child(1),
.periodic-table>thead>tr>th:nth-child(2) {
  width: 40px
}

.popup__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #e84118;
  color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  line-height: 17px;
  font-weight: 300
}

table.periodic-table_lan-act-line {
  margin-top: 20px;
}

.periodic-table_lan-act-line th {
  text-align: center;
}

.periodic-table_lan-act-line td {
  min-width: 112.3px;
}